* {
  box-sizing: border-box;
}
img {
height: auto;
max-width:100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  text-align: center;
}

.hero {
  background-image: url(images/header.jpeg);
  width: 100%;
  height: auto;
}

.header {
  padding: 80px;
  text-align: left;
  color: white;
  height: 500px;
}

.header h1 {
  font-size: 50px;
  text-align: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 30px;
}

.navbar a.right {
  float: left;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.main {   
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  background-color: white;
  padding: 20px;
}

.main h2 {
  font-size: 60px;
  color: darkred;
}

.main h5 {
  font-size: 20px;
}

.main p {
  font-size: 20px;
}


.img1 {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: 300px;
  background-image: url(images/pexels-photo-2544830.jpeg);
}

.img2 {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: 300px;
  background-image: url(images/pexels-photo-1788852.jpeg);
}

.img3 {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  height: auto;
  background-image: url(images/pexels-photo-4552131.jpeg);
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  color: #474e5d;
  font-size: 10px;

}

.column1 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container h2 {
  font-size: 30px;
  color: darkred;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.button:hover {
  background-color: #555;
}
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
}


.side2 {
  flex: 50%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
  height: auto;
  text-align: left;
}
.side2 h2{
 font-size: 50px;
 color: darkred;
}

.main2 {
  flex: 50%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  height: auto;
  text-align: left;
}
.main2 h2 {
  font-size: 50px;
  color: darkred;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #ddd;
  color: darkred;
}

.right {
  right: 0;
  background-color: darkred;
  color: #ddd;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}





@media screen and (max-width: 700px) {
  .column1 {
    width: 100%;
    display: block;
  }
}


@media screen and (max-width: 700px) {
  .row2 {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

  .hero{
    width:100%;
    height: auto;
  }

  .header  {
    text-align: center;
    height: auto;
    width: 100%;

    
  }
}
